div#container-weeldrink {
    background-size: cover;
    height: 100vh;
    filter: brightness(2px);
}

div#content-wee-drink {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4%;
    background: rgba(245, 244, 244, 0.247);
    height: 100%;
}

#text-back-week-drink {
    font-size: 40px;
    text-decoration: none;
    color: #000;
    font-family: Raleway;
}

div#ingredients-week-drinks {
    background: rgba(187, 186, 186, 0.685);
    height: 600px;
    padding: 20px
}

h1#title-week-drink {
    font-size: 65px;
    font-family: Raleway;
}

h3#name-week-drink {
    font-size: 50px;
    margin: 10px 0;
    font-family: Raleway;
    text-align: right;
}

p#title-ingredients-week-drink {
    font-size: 60px;
    font-family: Raleway;
    text-align: center;
}

li {
    text-decoration: none;
    text-align: center;
    list-style: none;
    font-size: 40px;
    font-family: Raleway;
    font-weight: bold;
    margin: 20px 0;
}